<!--?xml version="1.0" encoding="utf-8"?-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="twitter-redirect-srcs" content="{&quot;pwreset-iphone&quot;:true,&quot;android&quot;:true,&quot;email&quot;:true}">
<meta name="twitter-redirect-url" content="twitter://timeline">
    <link href="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/ic_favicon.png" rel="icon" type="image/png">
      <title>Compose new Tweet</title>
    <link href="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/assets/as.css" inline="false" media="screen" rel="stylesheet" type="text/css">
    <script src="/js/initial.javascript" type="text/javascript"></script>
  </head>
  <body class="images tweets-page tweets-new-page">
    <div id="container">
      <div id="brand_bar">
        <table id="top">
          <tbody><tr>
            <td class="modal-left">
                <a href="https://mobile.twitter.com/" class="brandmark"><span class="imgsprite_larry_28px_gif" height="28" title="Twitter"></span></a>
              <span class="title">Compose new Tweet</span>
            </td>
            <td class="modal-right">
              <img alt="|" class="divider" height="28" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/brandbar_divider.gif">
              <a class="close" href="https://mobile.twitter.com/">
                <span class="imgsprite_close_x_png" title="Close"></span>
                
              </a>
            </td>
          </tr>
        </tbody></table>
      </div>
      <div id="main_content">
        <div class="tweetsheet ">
<div class="tweetbox-container" data-characters-reserved-per-media="23" data-tweet-sent="Tweet sent!" data-tweet-error="Something went wrong - please try again in a moment." data-photo-size-limit="3145728">
  <form action="/compose/send" class="tweetform" method="get">
    
    <table class="tweettable">
      <tbody><tr><td colspan="3"><h1>What's happening?</h1></td></tr>
      <tr>
        <td colspan="3">
          <div class="tweet_box">
            <textarea class="tweetbox" name="tweet[text]"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td class="camera tweet-btn-container js-visible ">
        </td>
        <td class="counter js-visible">140</td>
        <td class="tweet-btn-container">
          <span class="w-button-common submit w-button-default w-button-disabled"><input name="commit" type="submit" value="Tweet"></span>
        </td>
      </tr>
    </tbody></table>
  </form>
</div><!-- End Tweet box container -->

</div>



      </div>
    </div>
    <script src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/assets/m2_compose.js" type="text/javascript"></script>
  

</body></html>
