
<div class="w-button-more"><a href="#">Load older Tweets</a></div>
</div>


      </div>
<div id="footer">
<div class="search-fields">
    <div class="title">
      Enter a topic, @name, or fullname
    </div>
    <form action="" class="search-input" method="get">
    <table>
      <tr>
        <td class="value" id="search"><div><input id="q" name="q" type="text" value=""/></div></td>
        <td class="button">
          <input type="hidden" name="s" value="typd" />
          <input type="image" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/magnifying_glass.gif" alt="Search"/>
        </td>
      </tr>
    </table>
    </form>
</div>
    <form action="" method="post">
      <span class="m2-auth-token"><input name="authenticity_token" type="hidden" value="63054f53cc5685389620" /></span>
      <table class="global-actions">
        <tr>
          <td><a href="#">Settings</a></td>
          <td><a href="#"> Help</a></td>
        </tr>
      </table>
    </form>
    <div class="view-actions"><a href="#top">Back to top</a> &middot; <a href="#">Turn images off</a></div>
</div>
    </div>
    <script id="scribe-configuration" type="application/json">{"page":"home","user_id":"90100440"}</script>
    <script id="ddg_buckets" type="application/json">{}</script>
    <script src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/assets/m2_tweets.js" type="text/javascript"></script>
  </body>
</html>
