<html>
<head>
<link href="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/ic_favicon.png" rel="icon" type="image/png" />
    
    <title>Twitter</title>
    <link href="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/assets/as.css" inline="false" media="screen, handheld" rel="stylesheet" type="text/css" />
  </head>
 <body class="images nojs tweets-page tweets-index-page">
     <div id="container">
     <table id="global_nav" class="images">
  <tbody><tr>
    <td class="home selected"><img alt="Home" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/sprites/nav_home_selected.gif"></td>
    <td class="connect"><img alt="Connect" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/sprites/nav_connect.gif"></td>
    <td class="discover"><img alt="Discover" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/sprites/nav_discover.gif"></td>
    <td class="me"><img alt="Me" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/sprites/nav_me.gif"></td>
    <td class="tweet"><a href="wasabi://compose/tweet" title="Tweet"><img alt="Tweet" src="https://ma.twimg.com/twitter-mobile/64396c21beb1634e238d36c8a6b888fbc7f8b766/images/sprites/nav_tweet.gif"></a></td>
  </tr>
</tbody></table>
      <div id="main_content">
        
<div class="timeline">


