<html>
<head>
<link href="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/ic_favicon.png" rel="icon" type="image/png" />
    
    <title>Twitter</title>
    <link href="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/assets/as.css" inline="false" media="screen, handheld" rel="stylesheet" type="text/css" />
    <script src="/js/initial.javascript" type="text/javascript"></script>
  </head>
 <body class="images nojs tweets-page tweets-index-page">
     <div id="container">
<div id="brand_bar">
  <table id="top">
    <tr>
      <td class="left">
        <a href="https://mobile.twitter.com/" class="brandmark">
          <span class="imgsprite_larry_28px_gif" height="28" title="Twitter"></span>
          
        </a>
      </td>
      <td class="right">
          <img alt="|" class="divider" height="28" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/brandbar_divider.gif" />
          <a class="search" href="#search">
            <span class="imgsprite_search_28px_gif" height="28" title="Search"></span>
            
          </a>
      </td>
    </tr>
  </table>
</div>
<table id="global_nav" class="images">
  <tr>
    <td class="home selected"><a href="#" title="Home"><img alt="Home" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/nav_home_selected.gif" /></a></td>
    <td class="connect"><a href="#" title="Connect"><img alt="Connect" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/nav_connect.gif" /></a></td>
    <td class="discover"><a href="#" title="Discover"><img alt="Discover" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/nav_discover.gif" /></a></td>
    <td class="me"><a href="#" title="Me"><img alt="Me" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/nav_me.gif" /></a></td>
    <td class="tweet"><a href="#" title="Tweet"><img alt="Tweet" src="https://ma.twimg.com/twitter-mobile/69ec8bcbb97cdecbc5ac0172be2b78d7930500c5/images/sprites/nav_tweet.gif" /></a></td>
  </tr>
</table>
      <div id="main_content">
        
<div class="timeline">


